dt {
	width: 150px;
	background: white;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	font-weight: normal;
}
dt:after { 
	content: " .................................................................................." 
}
dd {
	margin-left: 160px;
	display: block;
}

h6 {
	text-transform: uppercase;
	font-weight: normal;
}

.divider {
	border-bottom: 1px solid #d4d4d4;
}
.clear {
	clear: both;
}

[class^="icon-"], [class*=" icon-"] {
	background: none;
}
h1 a > [class*=" icon-"], 
h1 a > [class^="icon-"] {
	line-height: 40px;
	width: 40px;
}
h1 a > [class*=" icon-"]:hover, 
h1 a > [class^="icon-"]:hover,
h4 a > [class*=" icon-"]:hover, 
h4 a > [class^="icon-"]:hover {
	text-decoration: none;
}
h4 a > [class*=" icon-"], 
h4 a > [class^="icon-"] {
	line-height: 20px;
	width: 20px;
}
[class^="icon-"] + span {
	margin-left: 5px;
}

blockquote p {
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
}
a.btn {
	box-shadow: none;
	background: #333;
	color: white;
	border-radius: 15px;
	padding: 5px 20px;
	text-shadow: none;
}
p > b {
	color: #333;
}
.muted {
	color: #666;
}

body > div.navbar-fixed-top {
	background: white;
	box-shadow: 0px 0px 5px 0px #D4D4D4;
}
body > div.navbar .navbar-inner {
	background: none;
	box-shadow: none;
}
body > div.navbar .nav {
	float: right;
}
body > div.navbar .nav > li > a {
	color: #999;
}
body > div.navbar h6 {
	margin: 0;
}
body > div.navbar .nav > li.active > a,
body > div.navbar .nav > li.active > a:hover {
	background: none;
	box-shadow: none;
	color: #333;
}

header {
	background: #f5f5f5;
	padding: 80px 0 50px;
	border-bottom: 1px solid #d4d4d4;
	text-align: center;
}
header > div.container {
	text-align: center;
}
header > div.container > p.lead {
	width: 640px;
	margin: 10px auto 15px;
}

#overview section {
	padding: 40px 0 0;
}
#overview section i[class^="icon-"] {
	text-align: center;
	font-size: 32px;
	color: white;
	background: #08C;
	padding: 10px;
	height: 40px;
	width: 40px;
	line-height: 130%;
	border-radius: 40px;
	display: block;
	margin: 0 auto 20px;
}
#overview section > a {
	display: block;
}
#overview section > a:hover i[class^="icon-"] {
	text-decoration: none;
	background: #005580;
}
#overview section h4 {
	text-align: center;
}
#overview section h4 + p {
	margin-top: 0;
}
#overview section > table.table {
	margin-top: 20px;
}
#overview section > table.table td {
	text-align: center;
}
#overview section > table.table tr:hover {
	cursor: pointer;
}
#overview section > table.table tr:hover a {
	color: #005580;
	text-decoration: none;
}
#overview section > table.table td b {
	font-size: 18px;
}

div.dict {
	padding: 60px 0;
}
div.dict h1,
div.dict h4 {
	text-align: right;
}
div.dict > h4 {
	text-align: center;
}
div.dict > div.row-fluid {
	margin: 20px 0;
}

.nav-item {
	margin-bottom: 40px;
	margin-top: 40px;
	padding-right: 40px;
	text-align: center;	
}
.nav-item h4 + p {
	margin-top: -10px;
	margin-bottom: 20px;
	color: #666;
}
.nav-item .row .divider {
	margin-top: 0;
	height: 1px;
	min-height: 0;
}
.nav-item .row {
	margin: 20px 0;
}

.nav-pills-minimal {
	margin-bottom: 0;
	text-align: center;
}
.nav-pills-minimal > li {
	float: none;
	display: inline-block;
}
.nav-pills-minimal > li a:hover {
	background: none;
	border-bottom: 3px solid #005580;
	border-radius: 0;
}
.nav-pills-minimal > li.active a,
.nav-pills-minimal > li.active a:hover {
	background: none;
	color: #333;
	border-bottom: 3px solid #333;
	border-radius: 0;
}

.pager-minimal a.disabled,
.pager-minimal a.disabled:hover {
	color: #d4d4d4;
	cursor: text;
}

#drug #background {
	padding: 60px 0;
}

#project-content {
	margin: 40px 0;
}
.project .row {
	margin: 20px 0;
}
.project .row > .divider {
	min-height: 0;
	height: 0;
}

#case-pagination {
	border-bottom: 1px solid #d4d4d4;
}
#case-content {
	margin: 40px 0;
}
#case-content .row .divider {
	min-height: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}
#case-content h5 {
	text-align: center;
}

#partners h4 {
	background: #f4f4f4;
	padding: 10px;
	border-bottom: 1px solid #d4d4d4;
}

#about .container h4 {
	text-align: center;
}
#about .container p {
	text-align: left;
}
#about .row-fluid {
	margin-top: 20px;
}
#about h1 {
	margin-bottom: 40px;
}

#team {
	margin: 40px 0;
}
#team #sarah {
	position: relative;
}
#team #sarah h1 {
	margin-bottom: 0;
}
#team .icon-left {
	width: 80px;
	height: 80px;
	border-radius: 80px;
	float: left;
	margin-right: 20px;
	position: relative;
	margin-right: -100px;
}
#team [class^="icon-"] {
	font-size: 50px;
	line-height: 80px;
	text-align: center;
	background: #333;
	color: white;
}
#team .icon-sarah {
	background: url("../images/sarah.jpeg") no-repeat center left;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	float: left;
	position: relative;
}
#team .team-content {
	float: left;
	margin-left: 100px;
}
#team ul {
	list-style: none;
	margin-left: 0;
}
#directors,
#funders,
#tax {
	margin-top: 30px;
}

#prescription .affix {
	top: 40px;
	width: 220px;
}
#prescription .sidebar ul {
	margin: 40px 0;
	padding: 0;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	background: white;
}
#prescription .sidebar .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	color: #d4d4d4;
	background-image: none;
}
#prescription .sidebar li > a {
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #d4d4d4;
}
#prescription .sidebar li:first-child > a {
	border-radius: 6px 6px 0 0;
}
#prescription .sidebar li:last-child > a {
	border-radius: 0 0 6px 6px;
}
#prescription .sidebar .active > a {
	position: relative;
	z-index: 2;
	padding: 9 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	box-shadow: inset 1px 0 0 rgba(0,0,0,0.1), inset -1px 0 0 rgba(0,0,0,.1);
}
#prescription .sidebar li:hover i {
	color: #666;
}
#prescription .sidebar .active:hover i {
	color: #d4d4d4;
}
#prescription section {
	padding: 20px 0;
}
#prescription section:first-child {
	padding-top: 40px;
}
#prescription .page-header {
	margin: 0 0 40px;
}

#card-content {
	margin: 40px 0;
}
#card-front {
	border: 3px solid #d4d4d4;
	border-radius: 4px;
	background: #f4f4f4;
}
#card-front .card-header {
	padding: 10px 20px;
	border-bottom: 1px solid #d4d4d4;
	font-weight: bold;
	background: white;
}
#card-front .card-header-logo {
	font-weight: bold;
}
#card-front .card-header-title {
	float: right;
}
#card-front dl {
	padding: 40px 60px;
	margin: 0;
	color: #666;
}
#card-front dt {
	background: transparent;
}
#card-actions {
	margin-top: 10px;
	list-style: none;
}
#card-actions li {
	float: none;
}

ul.checklist {
	list-style: none;
	margin-left: 0;
}
ul.checklist i {
	margin-right: 5px;
	margin-top: 4px;
	float: left;
}
ul.checklist .checklist-item {
	margin-left: 30px;
}

footer {
	padding: 40px 0;
	background: #f4f4f4;
	border-top: 1px solid #d4d4d4;
	color: #999;
	text-shadow: 0px 1px 0 white;
	text-transform: uppercase;
	font-size: 12px;
}
footer a {
	color: #999;
}
footer a:hover {
	color: #333;
	text-decoration: none;
}
footer i.icon-map-marker {
	position: absolute;
}
footer address {
	padding-left: 20px;
}